/* body {
    margin: 0;
} */

.Home{
    background-image: url("./Images/pizza-lo.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
.pizza-type{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(247, 144, 144, 0.4);
    height: 400;
    text-align: center;
} 

.deliver,
.location,
.message,
.cart{
    display: none;
    text-align: center;
}