.Home{
    background-image: url("./Images/1280px-Supreme_pizza.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
.pizza-type{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(247, 144, 144, 0.4);
    height: 400;
    text-align: center;
} 

.deliver,
.location,
.message,
.cart{
    display: none;
    text-align: center;
}

.deliver{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 700px;
}

.cart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 800px;
}

.message{
    padding-top: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .4);
    height: 400px;
    width: 700px;
}

.location{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 800px;
}

.about {
    margin-top: 12px;
    padding-left: 16px;
    text-align: justify;
    border: 1px solid white;
    border-radius: 12;
}

.google {
    background-color: #dd4b39;
    color: white;
    box-sizing: border-box;
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none;
    }